h1 {
  font-size: 50px;
  background-color: aquamarine;
}

.container {
  width: 80%;
  margin: 50px auto;
  text-align: center;
}

.input-section, .countdown-section {
  margin: 20px 0;
}

.warning-massage {
  color: red;
}